body {
    background-color: #36454F; 
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about_me_info{
    position: absolute;  
    top: 211px;          
    left: 651px;          
    padding: 10px 20px;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;} 
    #rectangle {
        position: absolute;
        top: -8px;
        left: -9px;
        width: 1524px;
        height: 56px;
        z-index: -1;  
    }
    #home_button {
        position: absolute;  
        padding: 10px 20px;
        font-size: 16px;
        height: 50px;
        width: 306px;
        background-color: #00334D;
        border-color: #00334D;
    }
    #pricing_button {
        position: absolute;  
        left: 700px;          
        padding: 10px 20px;
        font-size: 16px;
        height: 50px;
        width: 100px;
        background-color: #00334D;
        border-color: #00334D;
    }
    #about_me {
        position: absolute;  
        left: 476px;          
        padding: 10px 20px;
        font-size: 16px;
        height: 50px;
        width: 100px;
        background-color: #00334D;
    }
